a:link {
    color: #3cff3b;
}
a:visited {
    color: #01d3d7;
}
a:hover {
    color: #2bc02b;
}
a:active {
    color: #ff00f7;
}
p {
    color: #fff;
}
/* User Profile Section START */
#wpbody-content h2,
#wpbody-content th,
#your-profile,
.user-description-wrap p,
.user-sessions-wrap p,
.user-email-wrap p,
#new_application_password_name_desc,
#message {
    background: #2B2D2D;
    color: white;
}
table.form-table label,
table.form-table th,
.nav-tab-wrapper {
    background: #202121 !important;
    color: white !important;
}
#updateusers h1,
#updateusers p,
#updateusers ul {
    color: white;
}
.create-application-password.form-wrap button,
.button.wp-generate-pw,
.button#destroy-sessions,
.user-description-wrap textarea,
.user-display-name-wrap select,
#new_role,
#new_role2,
#brizy-maintenance-mode,
select.form-required,
.inline-edit-status select {
    background: #2B2D2D;
    color: white;
    border: solid 1px white;
}
.button.cancel.alignleft,
a.page-title-action {
    background: #2B2D2D !important;
    color: white !important;
    border: solid 1px !important;
    border-color: #3cff3b !important;
    font-weight: bold !important;
}
.button.button-primary.save.alignright {
    background: #3cff3b;
    color: black;
    font-weight: bold;
}
.button.cancel.alignleft:hover {
    background: #229722;
    color: white;
    border: solid 2px;
    border-color: #3cff3b;
    font-weight: bold;
}
.button.button-primary.save.alignright:hover,
a:hover.page-title-action {
    background: #229722 !important;
    color: #FFF !important;
    font-weight: bold !important;
}
/* User Profile Section END*/
/* Elementor Template Popup START */
.elementor-templates-modal__header,
#elementor-new-template__form {
    background-color: #2B2D2D !important;
    color: white;
    border: none;
}
.dialog-lightbox-message {
    background: #4a4e4efc !important;
    color: white;
}
#elementor-new-template__description__title,
#elementor-new-template__description__content {
    background: #4c5050fc !important;
    color: white;
}
.nav-tab.nav-tab-active {
    background: #4c5050fc;
    color: white;
}
.nav-tab,
#elementor_library_category {
    background: #2B2D2D;
    color: white;
}
/* Elementor Template Popup END */
/* Page Editor in Guttenberg START */
.brizy-buttons-gutenberg a,
.brizy-buttons-gutenberg a:active {
    background-color: #2B2D2D !important;
    border: solid white;
}
.brizy-buttons-gutenberg a:hover,
#elementor-go-to-edit-page-link {
    background-color: #353838 !important;
    box-shadow: none;
    border: solid white;
}
/**/
/* Crocoblock Wizard START */
.jet-dashboard-page__guide-content,
.jet-dashboard-page__panel,
.plugin-label,
.cx-vui-subtitle,
.panel-header-desc,
.panel-header-title {
    background: #4a4e4efc;
    color: white !important;
}
.plugin-update-label {
    color: #c9c9c9 !important;
}
.cx-vui-subtitle span,
.cx-vui-subtitle div,
.cx-vui-subtitle--controls {
    background: #4a4e4efc !important;
    width: 100%;
}
.jet-menu-alert,
.alert-title,
.alert-message,
.banner-inner,
.cx-vui-popup__body,
.cx-vui-popup__header-label,
.license-list,
.license-details__field span {
    background: #2B2D2D;
    color: white !important;
}
/* Crocoblock Wizard END */
/* Shortcode Block START */
.wp-block-shortcode {
    background: #4a4e4efc !important;
    border: solid white
}
.components-placeholder__label {
    background: #4a4e4efc !important;
}
/* Shortcode Block END */
/* Side Bars START */
.block-directory-downloadable-blocks-panel {
    display: none;
}
.block-editor-inserter__main-area,
.components-panel__body-toggle,
.components-tab-panel__tabs-item,
.block-editor-inserter__panel-content,
.block-editor-block-types-list__item {
    background-color: #2B2D2D;
    color: white !important;
}
.block-editor-block-icon {
    color: white !important;
}

.block-editor-inserter__search,
.block-editor-inserter__block-list {
    background: #4a4e4efc;
}
.components-base-control__help,
.block-editor-inserter__panel-title,
.components-unit-control__select {
    color: white !important;
}
/* Side Bars END */
h3,
label,
.cx-vui-component,
.cx-vui-component__desc,
.cx-vui-collapse__heading {
    background-color: #2B2D2D !important;
    color: white !important;
}
#wpcontent,
.cx-vui-subtitle {
    background-color: #202121;
}
#wpfooter {
    display: none;
}
.cx-vui-iconpicker__preview {
    background-color: black;
}
.dashicons,
.cx-vui-collapse__heading-icon {
    background-color: #2B2D2D;
}

/* New Form Section START */
small,
.is-desktop-preview,
.editor-styles-wrapper,
.jet-form-builder__label {
    background: #2B2D2D !important;
    color: white !important;
}

input,
.components-flex,
.components-card__header,
.components-card-header,
.components-card__body,
.components-card-body,
.block-editor-block-mover-button,
.components-dropdown-menu__toggle,
.block-editor-block-mover__drag-handle,
.components-textarea-control__input {
    background: #2B2D2D !important;
    color: white !important;
    border: solid .5px !important;
}

.edit-post-header,
.has-icon,
.components-panel__header {
    background: #2B2D2D !important;
    color: white !important;
}

.components-textarea-control__input,
.interface-interface-skeleton__sidebar,
.block-editor-block-card,
.block-editor-block-card__title,
.components-panel__body,
.components-base-control__label,
.components-text-control__input,
.components-select-control__input,
.components-input-control__input,
.components-toggle-control__label,
#inspector-text-control-84__help {
    background: #4a4e4efc !important;
    color: white !important;
}
/* New Form Section END */
/* New Post Section START */
.postbox-header,
.jet-engine-meta-wrap,
.cx-ui-kit,
.inside {
    background: #2B2D2D !important;
    color: white !important;
}
.dashicons-exit {
    background: #2B2D2D !important;
}
.cx-ui-textarea,
.cx-tab__tabs {
    background: #2B2D2D !important;
    color: white !important;
    border: solid white 1px !important;
}

/* New Post Section END */
/* New Media Section START */
.media-frame,
.media-frame-title,
.media-frame-router,
.media-menu-item,
.media-toolbar,
.media-sidebar,
.attachments-wrapper,
.jet-engine-help-list__item,
.wp-filter,
#bulk-action-selector-top,
#show-settings-link,
#attachment-filter,
#filter-by-date,
.page-title-action,
span.tablenav-pages-navspan.button.disabled,
a.first-page.button,
a.prev-page.button,
a.next-page.button,
a.last-page.button,
li.attachment.save-ready {
    background: #2B2D2D !important;
    color: white !important;
}
.media-frame-title h1,
.media-attachments-filter-heading,
.upload-flash-bypass,
.max-upload-size,
.drag-drop-info,
.drag-drop-inside,
.filename,
.column-imgoptm p,
.manage-column,
.wp-heading-inline,
.displaying-num,
.paging-input {
    color: white !important;
}
/* New Media Section END */
/* Dark Mode Button in Admin Bar START */
.wp-dark-mode-switcher,
.ab-item {
    background: #373939 !important;
    border: 0px !important;
}
/* Dark Mode Button in Admin Bar END */
/* Query Monitor Bottom Bar START */
#qm-title,
#query-monitor-main,
.qm-title-heading {
    background: #2B2D2D !important;
    color: white !important;
}
/* I hate the Query Monitor Bar, Time Consuming to Theme END */
/* Adding darkness to main wp-admin dashboard START*/
.inside,
.postbox {
    background: black !important;
}
.initial-form label {
    background: black !important;
}
#content::placeholder  {
    background: #242626 !important;
}
.ui-sortable-handle,
.comment-item,
.table-view-list {
    background: black !important;
    color: white;
}
h3,
.handle-order-higher,
.handle-order-lower,
.handlediv {
    background: black !important;
}
.wp-dark-mode-chart-modal {
    display: none;
}
.wp-dark-mode-chart-modal-wrapper {
    background: transparent;
}
#screen-options-wrap {
    background: #2B2D2D !important;
    color: white;
}
/* Adding darkness to main wp-admin dashboard END */
/* Recommended Plugins Table START */
.notice.notice-info.shortcodes-ultimate-notice-rate {
    background: #202121 !important;
    color: white !important;
}
.update-message.notice.inline.notice-warning.notice-alt,
.update-message.notice.inline.notice-warning.notice-alt,
.plugin-update.colspanchange .update-message.notice.inline.notice-warning.notice-alt{
    background: #282A2A !important;
    color: white !important;
}
#the-list tr:nth-child(even) {
    background: black !important;
    color: white !important;
}
#the-list tr:nth-child(odd) {
    background: #2B2D2D !important;
    color: white !important;
}
#the-list td {
    color: white !important;
}
/* Recommended Plugins Table END */
/* Installed Plugins START */
#wpadminbar {
    background: #373939!important;
}
.active.is-uninstallable th,
.active.is-uninstallable td,
.active th,
.active td,
div.plugin-description{
    background: #171919 !important;
}
.plugin-description p {
    color: white !important;
}
#the-list tr:nth-child(even),
#the-list tr:nth-child(odd),
thead tr,
tfoot tr,
#bulk-action-selector-bottom {
    background: #282a2a !important;
    color: white;
}
form#bulk-action-form tr.active .plugin-description p {
    background: #171919 !important;
}
form#bulk-action-form tr.inactive .plugin-description p {
    background: #282A2A !important;
}
form#bulk-action-form tr.plugin-update-tr.active .update-message.notice.inline.notice-warning.notice-alt p {
    color: white;
}
form#bulk-action-form tr.active.is-uninstallable span {
    background: #171919 !important;
}
/* Installed Plugins END *
/* Add Plugins START */
.plugin-card,
.plugin-card-bottom,
.desc.column-description p,
.plugin-card-bottom,
#plugin-filter .name.column-name h3 {
    background: #282a2a !important;
    color: white !important;
}
.plugin-install-featured a,
.plugin-install-popular a,
.plugin-install-recommended a,
.plugin-install-favorites a {
    color: white !important;
}
.wrap.plugin-install-tab-featured p {
    color: white;
}
#typeselector,
::placeholder {
    background: #2B2D2D;
    color: white;
}
.install-now.button {
    background: #2B2D2D;
    color: white;
    border: solid 2px;
    border-color: #3cff3b;
    font-weight: bold;
}
.activate-now.button {
    background: #3cff3b;
    color: black;
    font-weight: bold;
}
a:hover.install-now.button {
    background: #229722;
    color: white;
    border: solid 2px;
    border-color: #3cff3b;
    font-weight: bold;
}
a:hover.activate-now.button {
    background: #229722;
    color: #FFF;
    font-weight: bold;
}
.popular-tags,
.plugins-popular-tags-wrapper {
    display: none;
}
/* Add Plugins END */
/* Shortcoder START */
.show-settings.button,
#screen-meta-links .cfe_top_link a.show-settings {
    background: #2B2D2D !important;
    color: white !important;
}
#contextual-help-columns,
#contextual-help-columns h3 {
    background: #2B2D2D !important;
    color: white !important;
}
.contextual-help-tabs .active a {
    background: #686e6e !important;
    color: white !important;
}
.contextual-help-tabs a {
    background: #2B2D2D !important;
    color: #3cff3b !important;
}
/* Shortcoder END */
/* Comments Display START */
table.comments tr:nth-child(even),
#the-comment-list th:nth-child(even) {
    background: #000 !important;
    color: #fff !important;
}
table.comments tr:nth-child(odd) {
    background: #2B2D2D !important;
    color: #fff !important;
}
table.comments td,
table.comments p {
    color: #fff !important;
}
/* Comments Display END */
/* Preloader Plus Settings Page START */
.subscribe,
.support {
    background: #2B2D2D !important;
    color: #fff !important;
}
/* Preloader Plus Settings Page END*/
/* Premium Addons Dashboard START */
.pa-settings-tabs,
.pa-settings-tabs a,
.pa-settings-sections div,
.pa-settings-sections p,
.pa-settings-sections h3,
.pa-settings-sections h4 {
    background: #2B2D2D !important;
    color: #fff !important;
}
table.widefat tr:nth-child(even),
#the-comment-list th:nth-child(even) {
    background: #000 !important;
    color: #fff !important;
}
table.widefat tr:nth-child(odd) {
    background: #2B2D2D !important;
    color: #fff !important;
}
table.widefat td {
    color: #fff !important;
}
/* Premium Addons Dashboard END */
/* Brizy Page Builder Edit Mode START */
.brz-root__container.brz-reset-all {
    background: #2B2D2D;
}
.brz-ed-wrap-block-empty-page,
.floating-action-button {
    background: #000 !important;
    border: dotted #3cff3b !important;
}
.brz-ed-fixed-bottom-panel__btn-loading.brz-d-xs-flex.brz-align-items-xs-center.brz-text-lg-center,
.xbrz-ed-fixed-bottom-panel__btn.brz-ed-fixed-bottom-panel__btn-popover,
.brz-ed-tooltip.brz-ed-tooltip__static {
    background: #000 !important;
    box-shadow: none;
}
.brz-ed-wrap-block-empty-page div {
    color: white !important;
}
.brz-ed-sidebar__control,
.brz-ed-popup-two__footer.brz-ed-popup-two__footer--x-middle.brz-ed-popup-two__footer--y-middle {
    background: #000 !important;
}

.brz-ed-popup-two-blocks__grid-clear-image-global {
    color: white !important;
    content: url("https://topshelf.tech/wp-content/uploads/template-assets/global_toolbar-dark.gif");
}
.brz-ed-popup-two-blocks__grid-clear-image-saved {
    color: white !important;
    content: url("https://topshelf.tech/wp-content/uploads/template-assets/save_toolbar-dark.gif");
}
.brz-ed-popup-two-blocks__grid-clear-image-global {
    background: black !important;
}
.brz-ed-popup-two-body__content.brz-ed-popup-two-blocks-body-layouts,
.brz-ed-popup-two-body__content.brz-ed-popup-two-body__content--loading,
.brz-ed-popup-two-body__sidebar {
    background: #000 !important;
}
.brz-ed-sidebar-bottom__option.brz-ed-sidebar__control__item.brz-ed-sidebar__popover__item.brz-ed-sidebar__popover__item--active {
    background: #000 !important;
    border-radius: 10px 10px 0 0;
    color: #3cff3b !important;
}
.brz-ed-popup-two-blocks__grid,
.brz-ed-popup-two-tab-item.brz-ed-popup-two-tab-item-active {
    background: #000 !important;
    color: white !important;
}
.brz-ed-popup-two-tab-item {
    color: white !important;
}
.brz-ed-popup-two-header__tabs {
    background: #2B2D2D !important;
    color: white !important;
}
.brz-ed-popup-two-sidebar-body,
.brz-input.brz-ed-popup-two__input,
.brz-input.brz-ed-popup-two__input::placeholder {
    background: #000 !important;
    color: white !important;
    border: 0 !important;
}

.brz-ed-sidebar-bottom__option.brz-ed-sidebar__control__item.brz-ed-sidebar__popover__item:first-child {
    background: #000 !important;
    border-radius: 10px 10px 0 0;
}
.brz-ed-sidebar-bottom__option.brz-ed-sidebar__control__item.brz-ed-sidebar__popover__item:nth-child(2) {
    background: #000 !important;
    border-radius: 0 0 0 0;
}
.brz-ed-sidebar-bottom__option.brz-ed-sidebar__control__item.brz-ed-sidebar__popover__item:last-child {
    background: #000 !important;
    border-radius: 0 0 10px 10px;
}
.brz-ed-sidebar__header {
    background: #0a0a0a !important;
}
.brz-ed-sidebar__main {
    background: #0a0a0a !important;
}
.brz-icon-svg {
    color: #3cff3b !important;
}
body.brz.brz-ed {
    background: #2B2D2D !important;
}
.brz-h3 {
    background: #0A0A0A !important;
}
.brz-ed-sidebar__styling,
.brz-ed-sidebar__right__empty,
.brz-ed-sidebar__main {
    background: #161616 !important;
}
/* Brizy Page Builder Edit Mode END */
